[General]
description=Use CBCJVM
display_name=CBCJVM
extensions=Java Sources (*.java)
name=java
default_extension=java
port_dialog=true
c_style_blocks=true

[Manuals]
Manual=targets/java/manual/index.html

[Target]
lib_dirs=targets/java/lib
