[General]
description=Calls a native GCC compiler
display_name=This Machine
extensions=C Sources (*.c *.h)|C++ Sources (*.cpp *.h *.hpp)
name=gcc
default_extension=c
c_style_blocks=true

[Manuals]
Manual=targets/gcc/manual/gccmanual.html

[win]
cflags=-Wimplicit
include_dirs=targets/gcc/include
lflags=-lkiss -lglfw -lGLee -lopengl32
lib_dirs=targets/gcc/lib

[osx]
cflags=-Wimplicit -arch i386
include_dirs=targets/gcc/include
lflags=-lGLee -lkiss -lpthread -lm -lglfw -framework AGL -framework OpenGL -framework Carbon -arch i386
lib_dirs=targets/gcc/lib

[nix]
cflags=-Wimplicit
include_dirs=targets/gcc/include
lflags=-lkiss -lglfw -lGL -lXrandr -lpthread
lib_dirs=targets/gcc/lib
