/***********************************************
*********  shut_down_in demo              
************************************************/
int main()
{
	shut_down_in(3.0);
	while (black_button()==0)
	{
		beep();
		sleep(0.2);
	}
}


